# TensorFlowはすでにwheelでインストール済みのため削除
# numpy, pandasなどは互換性のある最新版が自動で入るようにバージョン指定を削除
h5py
matplotlib
matplotlib-venn
numpy
pandas
pyfaidx
scikit-learn
scipy
# tensorflow-probabilityはTensorFlow本体との互換性が重要なので、一旦削除してpipに解決させる
protobuf
tqdm
deepdish
deeplift
modisco
modisco-lite
weasyprint
kundajelab-shap

